@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body{
    font-family: Comic Neue;
    background-color: wheat;
    color: black;
    margin: 0;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: black;
}
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
header a{
    margin-right: 40px;
}